%h1 Admin

%form{:method => "post"}
  %table
    %tr
      %td.key
        Term name
      %td.value
        %input{:type => "text", :name => "term"}

    %tr
      %td.key
        Term description
      %td.value
        %textarea{:name => "description"}
