%html
  %head
    %title= @title || "Welcome to the Web of lies"

    %link{:href => '/css/site.css',        :rel => 'stylesheet'}
    %link{:href => '/css/site_images.css', :rel => 'stylesheet'}

    %link{:rel => 'icon', :href => "images/favicons/popunshift_small.gif", :type => "image/gif"}

    - (@javascript || []).each do |script|
      %script{:src => script, :type => "text/javascript"}

  %body#body
    #wrapper
      #header
        .flickr
          %p.flickr
            Images sourced from
            %a{:href => "http://flickr.com"} flickr.
      #content= yield
      #footer
