%html
  %head
    %title= @title || "Welcome to the Web of lies"

    %link{:href => '/css/site.css',        :rel => 'stylesheet'}
    %link{:href => '/css/lipsum.css',      :rel => 'stylesheet'}
    %link{:href => '/css/site_images.css', :rel => 'stylesheet'}

    - (@javascript || []).each do |script|
      %script{:src => script, :type => "text/javascript"}

  %body#body
    #wrapper
      #header
      #content= yield
      #footer
