@import views/css/colors.sass
@import views/css/lipsum.sass
@import views/css/attribution.sass

html, body
  :padding 0
  :margin 0

h1
  :font-size 800%
  :text-align right
  :margin-bottom 0

h2
  :font-size 300%
  :text-align right
  :margin-bottom 2em

p
  :text-align justify

li
  :font-size 130%
  :font-family monospace

a
  :text-decoration none

.inline.code
  :font-family monospace
  :font-size 160%
  :font-weight bold
  :color rgb(255,116,0)
  :padding-left 0.5em
  :position relative
  :top 2px

html
  :background-color = !site_background
  
  #wrapper
    :width 750px
    :margin-left auto
    :margin-right auto
    :border-left 3px solid black
    :border-right 15px solid black
    :border-bottom 20px solid black

    #header, #footer
      :height 130px
      :background-position center

    #content
      :padding 4px
      :padding-left 25px
      :padding-bottom 50px
      :background-color = !content_background
      :position relative
      :overflow hidden
